/* --- malbehavers.css ----- */

@font-face {
    font-family: 'The Malbehavers';
    src: url('../fonts/xenophone-webfont-subset.eot');
    src: url('../fonts/xenophone-webfont-subset.eot?#iefix') format('embedded-opentype'),
         url('../fonts/xenophone-webfont-subset.woff') format('woff'),
         url('../fonts/xenophone-webfont-subset.ttf') format('truetype'),
         url('../fonts/xenophone-webfont-subset.svg#xenophoneregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

[data-hide] {
    display: none !important;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

*,
*::before,
*::after {
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: .875rem;
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
}

body {
    font: 400 1.25em/1.333 Arial, Helvetica, 'Liberation Sans', sans-serif;
    color: #222;
    height: 100%;
    margin: 0;
    padding: 0;
    background: url('../img/bg-wave-small.jpg') center no-repeat scroll #295266;
    background-size: cover;
}

body > svg {
    display: none;
}

h1 {
    font-size: 8.5vw;
    font-weight: 700;
}

h2 {
    font-size: 1.5em;
    font-weight: 700;
}

h3 {
    font-size: 1.25em;
    font-weight: 700;
}

a {
    color: #295266;
    text-decoration: none;
}

a:focus,
a:hover,
a:active {
    color: #000;
    text-decoration: underline;
    outline: none;
}

button {
    cursor: pointer;
}

button:focus {
    outline: none;
}

button::-moz-focus-inner {
    border: none;
}

abbr {
    text-decoration: none;
}

em {
    font-weight: 500;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
th,
td,
ul,
ol,
li,
dl,
dt,
dd {
    padding: 0;
}

table {
    border-collapse: collapse;
}

ul,
ol {
    list-style-type: none;
}

.small {
    font-size: .75em;
}

.link-spotify,
.link-map,
.link-film {
    font-size: 1rem;
}

    .link-spotify span,
    .link-map span,
    .link-film span {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        border: 0;
        clip: rect(0 0 0 0);
    }

    .link-spotify svg,
    .link-map svg,
    .link-film svg {
        position: relative;
        fill: currentColor;
        width: auto;
        height: 1.125em;
        opacity: .9;
    }

    .link-spotify svg {
        top: .0625em;
        height: .875em;
    }

    .link-map svg,
    .link-film svg {
        top: .25em;
    }

.site-wrapper {
    max-width: 1040px;
    min-height: 100%;
    margin: 0 auto;
    padding: 3em 20px 2em;
}

.site-header {
    margin-bottom: 1em;
}

    .site-header h1 {
        font: normal 10.9vw 'The Malbehavers', Arial, Helvetica, 'Liberation Sans',sans-serif;
        white-space: nowrap;
        text-align: center;
        text-shadow: 0 0 50px rgba(255, 255, 255, .25);
        margin: 0 -20px;
    }

main {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    padding: 1em 20px;
    background-color: rgba(255, 255, 255, .75);
    border-radius: .444em;
}

    h1 .small {
        display: block;
        font-size: 1.25rem;
        font-weight: 500;
        margin: 0;
    }

    .content {
        margin: 0;
    }

    .music,
    .gigs,
    .past-gigs,
    .band-pic,
    .line-up,
    .contact {
        margin-top: 1.333em;
    }

        .music h3 {
            font-size: 1em;
        }

        .music article,
        .music audio {
            display: block;
            margin: .333em 0 0;
            padding: 0;
        }

        .music audio {
            width: 100%;
            border-radius: .444em;
        }

        .gigs ol,
        .gigs p,
        .gigs dl,
        .gigs dt,
        .gigs dd {
            display: block;
            margin: 0;
            padding: 0;
        }

        .gigs ol,
        .gigs li:nth-child(n + 2),
        .gigs dl {
            margin-top: .333em;
        }

        .gigs p,
        .gigs dl,
        .past-gigs {
            font-size: 1rem;
        }

        .gigs dl {
            margin-right: -.5em;
        }

            .gigs dl > div,
            .gigs dt,
            .gigs dd {
                display: inline-block;
                margin: 0;
            }

            .gigs dl > div {
                margin-right: .5em;
            }

            .gigs dt,
            .gigs dd a {
                white-space: nowrap;
            }

            .gigs dt {
                font-style: italic;
            }

                .gigs dt::after {
                    content: ':';
                }

                .gigs a {
                    margin: 0;
                }

            .upcoming-gigs h3 {
                display: none;
            }

            .past-gigs time,
            .past-gigs .gig-location,
            .past-gigs .grouped-data {
                display: inline-block;
            }

            .past-gigs time {
                font-weight: 700;
            }

            .past-gigs p {
                font-size: .875rem;
            }

    .band-pic {
        position: relative;
    }

        .band-pic img {
            display: block;
            max-width: 100%;
            margin: 0;
            padding: 0;
        }

        .band-pic figcaption {
            margin: 0;
        }

            .band-pic .photographer {
                position: absolute;
                right: 5px;
                bottom: 1px;
                color: rgba(227, 233, 235, .6667);
            }

    .line-up {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
    }

        .line-up table,
        .line-up tbody,
        .line-up tr,
        .line-up th,
        .line-up td {
            display: block;
            margin: 0;
            padding: 0;
        }

        .line-up tr {
            margin-top: .333em;
        }

    .line-up th,
    .line-up td {
        display: inline;
    }

        .line-up thead {
            position: absolute;
            left: -9999rem;
        }

        .line-up tr {
            overflow: auto;
        }

        .line-up tbody th {
            position: relative;
            float: left;
            font-weight: 700;
            padding-left: 1.25em;
        }

            .line-up tbody svg {
                position: absolute;
                left: 0;
                top: .25em;
                display: block;
                width: .75em;
                height: .8em;
            }

        .line-up td:empty {
            display: none;
        }

        .line-up .other-bands {
            float: left;
            clear: left;
            font-size: .75em;
            padding-left: 25px;
        }

            .line-up .other-bands span {
                white-space: nowrap;
            }

                .line-up .other-bands span:nth-last-of-type(n + 2)::after {
                    content: ',';
                }

                .line-up .previous:first-child::before,
                .line-up .current + .previous::before {
                    content: 'previously: ';
                    white-space: normal;
                }

            .line-up .other-bands a {
                color: inherit;
            }

            .line-up .other-bands a:focus,
            .line-up .other-bands a:hover,
            .line-up .other-bands a:active {
                color: #000;
            }

        .line-up .instrument {
            float: right;
        }

    .contact p {
        margin-top: .333em;
    }

.site-footer {
    margin: .6667em 0 2rem;
}

    .social-media {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 1.5rem;
    }

        .social-media a {
            display: block;
            color: #fff;
            width: 2rem;
            height: 2rem;
            background: none center no-repeat scroll #295266;
            background-size: 1.6667rem;
            border-radius: .2222em;
        }

        .bandcamp a {
            background-image: url('../img/logo-bandcamp.svg');
        }

        .facebook a {
            background-image: url('../img/logo-facebook.svg');
        }

        .instagram a {
            background-image: url('../img/logo-instagram.svg');
        }

        .twitter a {
            background-image: url('../img/logo-twitter.svg');
        }

        .vibe a {
            background-image: url('../img/logo-vibe.svg');
            background-size: 1.3333rem;
        }

        .youtube a {
            background-image: url('../img/logo-youtube.svg');
            background-size: 1.3333rem;
        }

        .social-media a:focus,
        .social-media a:hover,
        .social-media a:active {
            background-color: #000;
        }

.bg-copyright {
    float: left;
}

.photographer {
    font-size: .6em;
    color: rgba(227, 233, 235, .75);
    text-shadow: 0 0 20px rgba(41, 82, 102, .5);
}

    .photographer a {
        color: inherit;
    }

    .photographer a:focus,
    .photographer a:hover,
    .photographer a:active {
        color: #e3e9eb;
    }

@media (min-width: 420px) {
    html {
        font-size: .9375rem;
    }

    .site-header h1 {
        font-size: 11.0vw;
    }

    h1 {
        font-size: 9.2vw;
    }
}

@media (min-width: 435px) {
    h1 {
        font-size: 2.667rem;
    }
}

@media (min-width: 480px) {
    html {
        font-size: 1rem;
    }

    .site-header h1 {
        font-size: 11.25vw;
    }

    h1 {
        font-size: 2.5rem;
    }
}

@media (min-width: 500px) {
    .site-footer {
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-content: space-between;
        align-items: center;
    }

        .social-media {
            justify-content: flex-end;
            margin: 0;
        }

            .social-media li {
                margin-left: .5em;
            }
}

@media (min-width: 580px) {
    .site-wrapper {
        padding-left: 30px;
        padding-right: 30px;
    }

    .site-header h1 {
        font-size: 11.0vw;
        margin-left: -30px;
        margin-right: -30px;
    }

    main {
        padding: 1.5em 30px;
    }
}

@media (min-width: 640px) {
    .site-wrapper {
        padding-left: 40px;
        padding-right: 40px;
    }

    .site-header h1 {
        font-size: 10.9vw;
        margin-left: -40px;
        margin-right: -40px;
    }

    main {
        padding: 2em 40px;
    }
}

@media (min-width: 720px) {
    body {
        background-image: url('../img/bg-wave-medium.jpg');
    }

    .site-header h1 {
        font-size: 11.0vw;
        margin-left: auto;
        margin-right: auto;
    }

    .content {
        margin-left: -15px;
        margin-right: -15px;
        overflow: auto;
    }

        .content > * {
            padding-left: 15px;
            padding-right: 15px;
        }

        .band-pic {
            clear: both;
            width: 100%;
        }

            .band-pic .photographer {
                right: 20px;
            }

        .music,
        .gigs,
        .line-up,
        .contact {
            width: 50%;
        }

        .music,
        .line-up,
        .contact {
            float: left;
            clear: left;
        }

        .gigs,
        .contact {
            float: right;
            clear: right;
        }

        .contact {
            clear: none;
        }

            .contact .label {
                position: absolute;
                width: 1px;
                height: 1px;
                margin: -1px;
                padding: 0;
                overflow: hidden;
                clip: rect(0, 0, 0, 0);
                border: 0;
            }
}

@media (min-width: 740px) {
    .contact .label {
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
        overflow: visible;
        clip: unset;
        border: 0;
    }
}

@media (min-width: 840px) {
    .site-header h1 {
        font-size: 11.1vw;
    }

    .band-pic {
        float: left;
        clear: left;
        width: 50%;
    }

        .band-pic img {
            margin-top: .333em;
        }

    .music {
        float: right;
        clear: right;
    }
}

@media (min-width: 960px) {
    .site-header h1 {
        font-size: 11.25vw;
    }
}

@media (min-width: 1040px) {
    .site-header h1 {
        font-size: 7.3450rem;
    }
}

@media (min-width: 1200px) {
    body {
        background-image: url('../img/bg-wave-big.jpg');
    }
}