/* --- malbehavers.css ----- */

@font-face {
    font-family: 'The Malbehavers';
    src: url('../fonts/xenophone-webfont-subset.eot');
    src: url('../fonts/xenophone-webfont-subset.eot?#iefix') format('embedded-opentype'),
         url('../fonts/xenophone-webfont-subset.woff') format('woff'),
         url('../fonts/xenophone-webfont-subset.ttf') format('truetype'),
         url('../fonts/xenophone-webfont-subset.svg#xenophoneregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

* + * {
    margin-top: 1.333em;
}

html {
    width: 100%;
    min-height: 100%;
}

body {
    font: 400 1.25em/1.333 Arial, Helvetica, 'Liberation Sans', sans-serif;
    color: #222;
    height: 100%;
    margin: 0;
    padding: 0;
    background: url('../img/bg-wave-small.jpg') center no-repeat scroll #295266;
    background-size: cover;
}

h1 {
    font-size: 2em;
    font-weight: 700;
}

h2 {
    font-size: 1.5em;
    font-weight: 700;
}

a {
    color: #295266;
    text-decoration: none;
}

a:focus,
a:hover,
a:active {
    color: #000;
    text-decoration: underline;
    outline: none;
}

em {
    font-weight: 500;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
th,
td,
ul,
ol,
li {
    padding: 0;
}

table {
    border-collapse: collapse;
}

ul {
    list-style-type: none;
}


.small {
    font-size: .75em;
}

.site-wrapper {
    max-width: 720px;
    min-height: 100%;
    margin: 0 auto;
    padding: 3em 20px 2em;
}

.site-header {
    margin-bottom: 1em;
}

    .site-header h1 {
        font: normal 10.9vw 'The Malbehavers', Arial, Helvetica, 'Liberation Sans',sans-serif;
        white-space: nowrap;
        text-align: center;
        text-shadow: 0 0 40px rgba(255, 255, 255, .5);
        margin: 0 -20px;
    }

main {
    max-width: 100%;
    margin: 0 auto;
    padding: 1em 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.444em;
}

    h1 .small {
        display: block;
        font-size: .5em;
        font-weight: 500;
    }

    .line-up table,
    .line-up tbody,
    .line-up tr,
    .line-up th,
    .line-up td {
        display: block;
        margin: 0;
        padding: 0;
    }

    .line-up table,
    .line-up tr {
        margin-top: .333em;
    }

    .line-up th,
    .line-up td {
        display: inline;
    }

        .line-up thead {
            position: absolute;
            left: -9999rem;
        }

        .line-up tr {
            overflow: auto;
        }

        .line-up tbody th {
            position: relative;
            float: left;
            font-weight: 700;
            padding-left: 25px;
        }

            .line-up tbody th::before {
                content: '';
                position: absolute;
                left: 0;
                top: .3125rem;
                display: block;
                width: 16px;
                height: 16px;
                background: url('../img/sprite-bullets.png') -128px 0 no-repeat scroll transparent;
                background-size: 64px;
            }

            .line-up tr:first-child th::before {
                background-position-x: 0;
            }

            .line-up tr:nth-child(2) th::before {
                background-position-x: -16px;
            }

            .line-up tr:nth-child(3) th::before {
                background-position-x: -32px;
            }

            .line-up tr:nth-child(4) th::before {
                background-position-x: -48px;
            }

        .line-up td:empty {
            display: none;
        }

        .line-up .other-bands {
            float: left;
            clear: left;
            font-size: .75em;
            padding-left: 25px;
        }

            .line-up .other-bands span {
                white-space: nowrap;
            }

                .line-up .other-bands span:nth-last-of-type(n + 2)::after {
                    content: ',';
                }

                .line-up .previous:first-child::before,
                .line-up .current + .previous::before {
                    content: 'previously: ';
                    white-space: normal;
                }

            .line-up .other-bands a {
                color: inherit;
            }

            .line-up .other-bands a:focus,
            .line-up .other-bands a:hover,
            .line-up .other-bands a:active {
                color: #000;
            }

        .line-up .instrument {
            float: right;
        }

    .contact p {
        margin-top: .333em;
    }

.site-footer {
    margin: 0 0 2rem;
}

    .social-media {
        float: right;
        margin-top: .6667em;
    }

        .social-media li {
            float: left;
            margin: 0 0 0 .5em;
        }

            .social-media a {
                color: #fff;
            }

.bg-copyright {
    float: left;
    font-size: .6em;
    color: rgba(227, 233, 235, .75);
    text-shadow: 0 0 20px rgba(41, 82, 102, .5);
}

    .bg-copyright a {
        color: inherit;
    }

    .bg-copyright a:focus,
    .bg-copyright a:hover,
    .bg-copyright a:active {
        color: #e3e9eb;
    }

@media (min-width: 580px) {
    .site-wrapper {
        padding-left: 30px;
        padding-right: 30px;
    }

    .site-header h1 {
        margin-left: -30px;
        margin-right: -30px;
    }

    main {
        padding: 1.5em 30px;
    }
}

@media (min-width: 640px) {
    .site-wrapper {
        padding-left: 40px;
        padding-right: 40px;
    }

    .site-header h1 {
        margin-left: -40px;
        margin-right: -40px;
    }

    main {
        padding: 2em 40px;
    }
}

@media (min-width: 720px) {
    body {
        background-image: url('../img/bg-wave-medium.jpg');
    }

    .site-header h1 {
        font-size: 4.8984rem;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1200px) {
    body {
        background-image: url('../img/bg-wave-big.jpg');
    }
}