/* --- video.css ----- */

.has-video {
    position: relative;
}

    .has-video img {
        cursor: pointer;
    }

    .has-video .play-icon {
        position: absolute;
        right: 5px;
        bottom: 3px;
        display: block;
        width: 1.125em;
        height: 1.2em;
        stroke: #000;
        stroke-width: 1%;
        fill: #fff;
        pointer-events: none;
    }

    .band-pic.has-video .photographer {
        left: 5px;
        right: auto;
    }

@media (hover: hover) {
    .has-video .play-icon {
        fill: #295266;
    }

    .has-video img:focus ~ .play-icon,
    .has-video img:hover ~ .play-icon {
        fill: #fff;
    }
}

@media (min-width: 420px) {
    .has-video .play-icon {
        right: 10px;
        bottom: 10px;
        width: 1.5em;
        height: 1.6em;
    }

    .band-pic.has-video .photographer {
        left: 10px;
        bottom: 5px;
    }
}

@media (min-width: 720px) {
    .has-video .play-icon {
        right: 25px;
    }

    .band-pic.has-video .photographer {
        left: 25px;
    }
}
